* {
  box-sizing: border-box;
}
body {
  /* background: #011940; */
  /* background: #080b12;
   */
  background: #0b101c;
  font-family: "Roboto", sans-serif;
}
.waitlist-wrapper {
  padding: 20px;
  min-height: 100vh;
}

.hour,
.minute,
.second {
  font-size: 50px;
}

.btn {
  padding: 12px 40px !important;
  background: #232835;
  color: #fff;
}
.btn:focus,
.btn:hover {
  background: #232835 !important;
  color: #fff;
}
