* {
  box-sizing: border-box;
}
body {
  background: #222;
  font-family: "Rubik", sans-serif;
}
.waitlist-wrapper {
  padding: 20px;
  min-height: 100vh;
}

.hour,
.minute,
.second {
  font-size: 50px;
}

.content > .btn {
  padding: 12px 40px !important;
  background: #232835;
  color: #fff;
}
.form-control,
.form-control:focus {
  border: 1px solid #222;
}
.content > .btn:focus,
.content > .btn:hover {
  background: #232835 !important;
  color: #fff;
}

.doctor-btn,
.patient-btn {
  padding: 12px 40px;
  background: #232835;
  border: none;
  color: #fff;
  transition: 600ms ease-in;
  border-radius: 8px;
}

.doctor-btn:hover,
.patient-btn:hover {
  background-color: #00acb1 !important;
}
.waitlist-btn {
  background-color: #00acb1 !important ;
  transition: 600ms ease-in;
}
.waitlist-btn:hover {
  background-color: #222 !important;
}
.submit-btn {
  padding: 12px 40px;
  background: #00acb1;
  color: #fff;
  transition: 600ms ease-in;
  border: none;
  border-radius: 8px;
}
.submit-btn:hover {
  background-color: #222;
}
